.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.image-area {
  clip-path: inset(5% 5% 5% 5%);
}

.texture {
  width: 100vw;
  height: 100vh;
  mix-blend-mode: multiply;
}

.color-container {
  background-color: white;
}

.crop-container {
  width: 500px;
  height: 500px;
  margin: auto;
}

.gritbg {
  pointer-events: none;
  position: absolute;
  height: 100vh;
}

.gritbg:after {
  animation: grain 8s steps(10) infinite;
  background-image: url("../textures/grain.png");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.3;
  position: fixed;
  top: -100%;
  width: 300%;
}

.gritimg {
  mix-blend-mode: multiply;
  width: 100%;
  height: 100vh;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
